@import url('https://fonts.googleapis.com/css2?family=Anton&family=Lobster&family=Poppins:wght@300;700&display=swap');
.vn {
  height: 40px;
  width: 40px;
}

.row-container {
  margin-left: 0;
}

.vietnam {
  position: relative;
}

.bana {
  position: relative;
}

.input {
  position: absolute;
}

.voice {
  font-size: 30px;
}

.voice-active{
  color: red;
}

.voice:hover {
  color: red;
}

.text-icon {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.5rem;
}

h1 {
  text-align: center;
  padding: 3rem;
  font-family: 'Anton', sans-serif;
}

textarea {
  width: 100%;
  height: 200px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 30px;
  resize: none;
}


